*{
    margin: 0;
    font-family: 'Recursive', sans-serif;;
}
.spacer{
    width: 100%;
    height: 50px;
}
.header{
    background-color: black;
    color: white;
}

.navbar ul{
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    margin: 1rem;
}
.navbar ul li{
    padding: 0.5rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2rem;
}

.hero-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
    padding-bottom: 50px;
}
.card {
    display: flex;
    flex-direction: column;

}
.card>img{
    width: 100%;
}
.card > p{
    flex-grow: 1;
}
.card-author{
    display: flex;
    align-items: center;
}

.card-author img{
    width: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.card-author h4{
    font-weight: 500;
}

.grid-3cards-layout{
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2rem;
}

.card-category, .card-title, .card-desc{
    padding: 0.8rem 0;
}

.grid-2cards-layout{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin:0 auto;
}
.layout-50-50{
    align-items: center;
}

.layout-50-50 .card > p{
    flex-grow: 0;
}
.layout-50-50 .image-container{
    align-self: flex-start;
}

@media screen and (max-width: 768px){

    .grid-2cards-layout,.grid-3cards-layout{
        grid-template-columns: 1fr;
        margin: 0;
        width: 100%;
    }
    .card > h4, .card>h2, .card>p, .card>.card-author{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .spacer{
        height: 0;
    }
    .no-grid-gap{
        gap: 0
    }
    .grid-3cards-layout{
        margin: 1rem 0;
    }
}