*{
    margin: 0;
    font-family: 'Recursive', sans-serif;
}
.main-section-page{
    background-color: #1A1C20;
}
.spacer{
    width: 100%;
    height: 40px;
}
.width80{
    width: 80%;
    margin: auto;
}
.header{
    background-color: black;
    color: white; 
}
h4, h2{
    color: white;
    font-weight: 500;
}
h5{
    color: #26a6ed;
    font-weight: 500;
}

.navbar ul{
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    margin: 1.5rem 0;
    
}
.navbar ul li{
    padding-left: 1rem;
}
.navbar ul li:first-of-type{
    padding-left: 0rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
    padding-bottom: 50px;
}
.hero-text-section{
    font-weight: 300;
    padding-top: 1rem;
    font-size: 1.2rem;
    color: #90a2aa;
}
.card {
    display: flex;
    flex-direction: column;

}
.card>img{
    width: 100%;
    border-radius: 0.2rem;
}
.card > p{
    flex-grow: 1;
    color: #90a2aa;
    font-size: 1rem;
    line-height: 25px;
}
.card-author{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.card-author img{
    width: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.card-author h4{
    font-size: 0.8rem;
    font-weight: 500;
}
.card-author time{
    font-size: 0.8rem;
    color: #90a2aa
}
.grid-3cards-layout{
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2.5rem;
}

.card-category, .card-title, .card-desc{
    padding: 0.8rem 0 0;
}

.grid-2cards-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    margin:0 auto;
}
.grid-70-30-layout{
    grid-template-columns: 2fr 1fr;
}
.layout-50-50{
    align-items: center;
}

.layout-50-50 .card > p{
    flex-grow: 0;
}
.layout-50-50 .image-container{
    align-self: flex-start;
}

@media screen and (max-width: 768px){
    .width80{
        width: 100%;
    }

    .grid-2cards-layout,.grid-3cards-layout{
        grid-template-columns: 1fr;
        margin: 0;
    
    }
    .main-section-page{
        padding: 1.5rem;
    }

    .spacer{
        height: 30px;
    }
    .no-grid-gap{
        gap: 0
    }
    .grid-3cards-layout{
        margin: 1rem 0;
    }
    .navbar{
        padding: 0 1.5rem;
    }
    .navbar ul.social-share{
        display: none;
    }
}